@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import "nav.css";
@import "login.css";

body {
  font-family: 'Montserrat', sans-serif;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

/* Variables */
:root {
  --primary-color: rgba(14,39,119,1);
  --secondary-color: #40c9f7;
  --third-color: #6044ff;
  --quarter-color: #30feff;
}
/* Variables end */

/* Aside Left */
[class*="sidebar-dark-"] {
	background-color: white;
}

[class*="sidebar-dark"] .brand-link,
[class*="sidebar-dark"] .user-panel {
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
}

body:not(.layout-fixed) .main-sidebar {
	top: 0;
  bottom:0;
  position:fixed;
  overflow-y:auto;
  overflow-x:hidden;
  margin-top: -14px;
}

.sidebar {
	height: auto;
}

aside .brand-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

aside .brand-link .brand-image {
	margin: 0;
	display: none;
	visibility: hidden;
}

.sidebar-collapse .brand-image {
	margin-left: 15px!important;
}

aside .brand-text {
	margin-left: 10px;
}

.sidebar .user-panel {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sidebar .user-panel .image {
	padding: 0;
}

.sidebar-collapse .user-panel .image {
	padding-left: .8rem;
}

.sidebar-collapse .sidebar .user-panel i {
	padding-left: 10px;
	padding-right: 10px;
}

.sidebar .user-panel i {
	color: var(--third-color);
	font-size: 1.25rem;
}

.sidebar .user-panel button {
	background: transparent;
	background: none;
	border: none;
	color: var(--third-color);
	font-size: 0.85rem;
	font-weight: 100;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
	background-color: var(--third-color);
	font-size: 0.90rem;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:focus, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover {
	color: var(--primary-color);
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link {
	color: var(--secondary-color);
	font-size: 0.85rem;
}

aside .nav-item .active {
	color: white!important;
}
/* Aside Left end */

/* Main Nav Header */
.navbar {
	position: fixed;
	width: 100%;
	background-color: #fafafa;
	top: 60px;
}
/* Main Nav Header end */

/* Content Wrapper */
.content-wrapper {
	padding-top: 100px;
}
/* Content Wrapper end */


/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

	/* Aside Left */
	body:not(.layout-fixed) .main-sidebar.variable_location {
	  margin-top: 5px;
	}
	/* Aside Left end */

	/* Nav Dashboard */
	.nav_variable_location {
	  margin-top: 19px;
	}
	/* Nav Dashboard end */

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

	/* Aside Left */
	body:not(.layout-fixed) .main-sidebar {
    margin-top: 36px!important;
  }

	body:not(.layout-fixed) .main-sidebar.variable_location {
	  margin-top: -14px!important;
	}
	/* Aside Left end */

	/* Nav Dashboard */
	.navbar {
	  margin-top: 51px;
	}

	.nav_variable_location {
	  margin-top: -1px!important;
	}
	/* Nav Dashboard end */
}

@media (min-width: 1800px) {

	/* Aside Left */
	/*.sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar::before {
		margin-left: -268px;
	}

	.main-sidebar, .main-sidebar::before {
		width: 268px;
	}*/
	/* Aside Left end */

	/* Nav Dashboard */
	/*.navbar {
	  margin-left: 268px!important;
	}*/
	/* Nav Dashboard end */

	/* Content Wrapper */
/*	body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, 
	body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, 
	body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
		margin-left: 268px;
	}*/
	/* Content Wrapper end */

}








