/* Variables */
:root {
  --primary-color: rgba(14,39,119,1);
  --secondary-color: #40c9f7;
  --third-color: #6044ff;
  --quarter-color: #30feff;
}
/* Variables end */

body {
  font-family: 'Montserrat', sans-serif;
}

#app {
  position: relative;
}

body img {
  box-shadow: 0 5px 12px 0 rgba(89,94,103,.07),0 10px 30px 0 rgba(89,94,103,.085);
  border-radius: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

p {
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--primary-color);
}

h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

.image_no_shadow_rounded {
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  border-radius: 0!important;
}

.bg_gris {
  background-color: #f4f4f6;
}

.bg_white {
  background-color: white;
}

/* Equipo */
.equipo {
  position: relative;
  margin-bottom: 30px;
}

.equipo h2 {
  margin-bottom: 30px;
}

.equipo img,
.testimonios img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

.equipo .integrante,
.testimonios .content_card {
  border-radius: 5px;
  box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.66);
  -webkit-box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.66);
  -moz-box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.66);
  background-color: white;
  margin-bottom: 30px;
}

.testimonios .content_card {
  background-color: transparent;
}

.equipo .content_integrante {
  padding: 15px;
}

.equipo .integrante {
  max-width: 350px;
  margin: auto;
  margin-bottom: 30px;
}

.equipo .content_integrante h4 {
  color: var(--primary-color);
  margin-bottom: 5px;
  font-size: 1.25rem;
  font-weight: 700;
}

.equipo .content_integrante p {
  color: black;
  margin: 0;
}
/* Equipo end */

/* Accede */
.accede {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url('../img/home/fondo-pareja.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.accede .col-md-12,
.accede .col-md-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accede .col-md-8 {
  flex-direction: column;
}

.accede .col-md-12{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Accede end */

/* Boton */
.btn {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  border-radius: 3.5rem/100%;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: all 330ms;
}
.btn + .btn {
  margin-top: 1rem;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:before {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(4) translateX(-100%);
  transition: all 495ms ease-out;
  /*z-index: -1;*/
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
  transform: scale(4) translate(37%);
}

.btn--alpha {
  background-color: var(--secondary-color);
  color: var(--third-color);
}

.btn--alpha:before {
  background-color: var(--third-color);
  background-image: linear-gradient(to right, var(--third-color) 30%, var(--secondary-color) 100%);
  position: absolute;
}
.btn--alpha:hover, .btn--alpha:focus, .btn--alpha:active {
  color: var(--secondary-color)!important;
}
/* Boton end */

/* Logos */
.logos {
  background-color: #6044ff;
  padding: 30px 15px!important;
  margin-bottom: 60px;
  text-align: center;
}

.logos h2 {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 30px;
}
/* Logos end */

.puntos_left,
.puntos_right,
.puntos_right_equipo {
  display: none;
}

.faja_mitad_foto,
.faja_sobre_titulo_izq,
.faja_sobre_titulo_der,
.faja_sobre_imagen,
.faja_separadora {
  background: #30feff; /* Old browsers */
  background: -moz-linear-gradient(left,  #30feff 0%, #6044ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #30feff 0%,#6044ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #30feff 0%,#6044ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30feff', endColorstr='#6044ff',GradientType=1 ); /* IE6-9 */
}

.btn_ontarget {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn_ontarget:focus {
  box-shadow: none!important;
}

@media (min-width: 480px) {
  /* Equipo */
  .equipo .content_integrante {
    min-height: 100px;
  }

  .equipo .content_integrante h4 {
    font-size: 1rem;
  }
  /* Equipo end */

}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {

  h2 {
    margin-bottom: 15px;
  }

  /* Accede */
  .accede {
    height: 500px;
  }

  .accede h2 {
    font-size: 1.75rem;
    margin-bottom: 30px;
  }

  .accede p {
    margin-bottom: 60px;
  }
  /* Accede end */

  /* Logos */
  .logos img {
    max-width: 85%;
  }
  /* Logos end */

}


@media (min-width: 992px) {

  .el_metodo h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  /* Logos */
  .logos img {
    max-width: 50%;
  }
  /* Logos end */

}

@media (min-width: 1200px) {

  .el_metodo h1 {
    font-size: 3rem;
  }

  /* Equipo */
  .equipo .content_integrante h4 {
    font-size: 1.25rem;
  }

  .equipo .content_integrante {
    min-height: 110px;
  }
  /* Equipo end */

  /* Accede */
  .accede p {
    font-size: 1.25rem
  }
  /* Accede end */
  
}

@media (min-width: 1400px) {

  .puntos_left {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 15px;
    max-width: 15%;
  }

  .puntos_right {
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 15px;
    max-width: 15%;
  }

  .puntos_right_equipo {
    display: inline-block;
    position: absolute;
    right: 15px;
    max-width: 15%;
    bottom: 25px;
  }

}
