#nav {
  position: relative;
  background: white;
  height: 60px;
  z-index: 9999;
}

#nav ul {
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: -450px;
  left: 0;
  background-color: var(--primary-color);
  z-index: 10;
}

#nav ul li {
  padding: 10px;
}

#nav ul li a {
  position: relative;
  left: 0;
  color: white;
  width: 100%;
  font-size: 1.25rem;
  text-decoration: none;
}

#nav ul li a:hover {
  left: 10px;
  color: #40c9f7;
  text-decoration: none;
}

#nav ul li:last-child {
  display: none;
}

#nav ul li:last-child button {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--primary-color);
}

#nav ul li:last-child button:hover {
  left: 0;
}

#nav ul li:last-child button:hover i {
  color: #40c9f7;
}

#nav ul li i {
  /*color: white;*/
  font-size: 1.5rem;
}

#nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#nav .logo img {
  max-width: 150px;
  content:url("../img/nav/logo-ontarget.png");
}

#nav.fixed .logo img {
  max-width: 150px;
  content:url("../img/nav/logo-ontarget-white.png");
}

#nav.fixed ul.active {
  top: 60px;
}

#nav ul.active {
  top: 60px;
  /*height: 425px;*/
}

#nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  animation: smoothScroll 1s forwards;
  height: auto;
  background-color: var(--third-color);
  border-bottom: solid 1px white;
}

#nav.fixed .logo .menu_mobile i {
  color: white;
}

#nav.fixed .logo img {
  max-width: 150px;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

#nav .logo .menu_mobile {
  z-index: 99;
}

#nav .logo .menu_mobile button {
  background: transparent;
  border: none;
}

#nav .logo .menu_mobile button:first-child {
  margin-right: 20px;
}

#nav .logo .menu_mobile i {
  color: var(--primary-color);
  font-size: 1.25rem;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

  #nav .logo .menu_mobile i {
    display: none;
  }

  #nav {
    display: flex;
    justify-content: space-around;
  }

  #nav ul,
  #nav ul.active {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 0;
    background-color: transparent;
  }

  #nav ul li {
    display: flex;
    align-items: center;
  }

  #nav ul li a,
  #nav ul li button {
    color: var(--primary-color);
    font-size: 0.83rem;
  }

  #nav ul li a:hover {
    left: 0;
    color: var(--secondary-color)!important;
  }  

  #nav ul li:last-child {
    display: inline-block;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav ul li:last-child button {
    border: none;
    border-left: var(--primary-color) 2px solid;
    padding-left: 10px;
    background:transparent;
    background: none;
    color: var(--primary-color);
  }

  #nav.fixed ul li a,
  #nav.fixed ul li button,
  #nav.fixed ul li a i {
    color: white;
  }

  #nav.fixed ul li:last-child button {
    border-left: white 2px solid;
  }


}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

  #nav,
  #nav ul {
    height: 110px;
  }

  #nav.fixed,
  #nav.fixed ul {
    height: 60px;
  }

  #nav .logo img {
    max-width: 100%;
  }

  #nav ul li {
    padding-left: 20px;
    padding-right: 20px;
  }

  #nav ul li a {
    font-size: 1rem;
  }

  #nav.fixed ul li a {
    font-size: 0.85rem;
  }

  #nav ul li:last-child i {
    font-size: 2rem;
  }

  #nav.fixed ul li:last-child i {
    font-size: 1.75rem;
  }

}

@media (min-width: 1500px) {


  #nav ul li a {
    font-size: 1.15rem;
  }


}




