/* Variables */
:root {
  --primary-color: rgba(14,39,119,1);
  --secondary-color: #40c9f7;
  --third-color: #6044ff;
  --quarter-color: #30feff;
}
/* Variables end */

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}
