.alert-danger,
.alert-success {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999999;
}

.dashboard .exit_user {
	border-bottom: solid 1px #4f5962;
	margin-bottom: 20px;
}

.dashboard .modal-header {
	background-color: var(--third-color);
	color: white;
}

.dashboard .modal-header {
	background-color: var(--third-color);
	color: white;
}

.dashboard .contentFiles {
	font-size: 1.75rem!important;
	color: var(--secondary-color)!important;
	margin-right: 20px!important;
}

.dashboard .contentFiles:hover {
	color: var(--third-color)!important;
}

.dashboard dt,
.dashboard dd {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 20px;
}

.dashboard dt:last-child,
.dashboard dd:last-child,
.dashboard .card-body .row {
	margin-bottom: 0!important;
}

.dashboard dt p,
.dashboard dd p {
	margin: 0;
}

.dashboard .date {
	font-size: 0.875rem;
	background-color: var(--secondary-color)!important;
}

.dashboard .date_comment {
	font-size: 0.875rem;
	background-color: var(--third-color)!important;
}

.dashboard .widget-user-image i {
	font-size: 3rem;
}

.dashboard .widget-user-2 .widget-user-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary-color);
    color: white;
}

.dashboard .widget-user-header i {
	font-size: 3rem;
}

.dashboard .card-primary:not(.card-outline) > .card-header {
	background-color: var(--secondary-color);
}

.dashboard  .widget-user-2 .widget-user-desc, .widget-user-2 .widget-user-username {
	margin-left: 25px;
}

.dashboard .card .nav.flex-column > li {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: 0;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard .cta {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dashboard .cta button {
	background-color: transparent;
	border: none;
}

.dashboard .cta button i {
	font-size: 2rem;
	color: var(--third-color);
}

.dashboard .cta button i:hover {
	color: var(--secondary-color);
}

.dashboard .btn-group .acciones {
	background-color: var(--third-color);
	color: white;
}

.dashboard .btn-group .acciones:hover {
	background-color: var(--secondary-color);
}

.dashboard .buttons-html5,
.dashboard .buttons-print,
.dashboard .buttons-colvis,
.todos_comentarios_leido {
	background-color: var(--third-color);
	border: var(--third-color);
	color: white;
}

.dashboard .buttons-html5:hover,
.dashboard .buttons-print:hover,
.dashboard .buttons-colvis:hover,
.todos_comentarios_leido:hover {
	background-color: var(--secondary-color)!important;
	border: var(--secondary-color)!important;
}

.dashboard .comentario_leido {
	background-color: var(--secondary-color);
	border: var(--secondary-color);
	color: white;
}

.dashboard .comentario_leido:hover {
	background-color: var(--third-color);
	border: var(--third-color);
}

.dashboard .page-item.active .page-link {
	background-color: var(--third-color)!important;
	border: var(--third-color)!important;	
}

.dashboard .bg-green {
	background-color: var(--third-color)!important;
}

.dashboard td {
	vertical-align: middle;
}














